<h1>Profile</h1>
<div>
    <p2>Email: <%= email %></p2>
</div>
<div>
    <p3>Password: <%= password %></p3>
</div>
<div>
    <p4>Address: <%= address %></p4>
</div>
<div>
    <p5>Company: <%= company %></p5>
</div>
<div>
    <p6>Age: <%= age %></p6>
</div>
<div>
    <p7>Eye Color: <%= eyecolor %></p7>
</div>
<div>
    <p8>Balance: <%= balance %></p8>
</div>
<a href="/edit">Edit </a>
<a href="/login">Logout </a>
